<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Processed File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Download Your Processed File</h1>
    <a href="{{ url_for('download_file', filename=filename) }}" id="downloadLink">Download Processed File</a>

    <script>
        window.onload = function() {
            var downloadLink = document.getElementById('downloadLink');
            downloadLink.click(); // Automatically trigger download
            setTimeout(function() {
                window.location.href = '/'; // Redirect back to upload page
            }, 3000); // Adjust the timeout as necessary
        };
    </script>
</body>
</html>
